.container {
    max-width: 450px;
}

.container h4 {
    text-align: center;
}

.title {
    margin-bottom: 24px;
}

.form {
    margin-bottom: 24px;
}

.form button {
    width: 100%;
    text-transform: uppercase;
}

.form form {
    margin-bottom: 24px;
}